body{
    background-color: rgb(245, 245, 242);
}
header{
    align-items: center;
    padding: 10px;
    background-color: white;
}
.head{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 20px;
}
input{
    background-image: url(https://img.icons8.com/?size=100&id=7695&format=png&color=1A1A1A);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 12px 12px;
    width: 350px;
    height: 40px;
    padding-left: 34px;
    border-radius: 1rem;
    font-size: medium;

}
span{
    font-size:large;
    padding-top: 10px;
}
#login1{
    color: black;
    width: 70px;
    height: 30px;
}
#singup1{
    background-color: black;
    color: bisque;
    width: 70px;
    height: 30px;
}
.selector{
    display: flex;
    flex-wrap: wrap;
    font-weight: 500;
    font-size: large;
    color: rgb(94, 91, 91);
    column-gap: 20px;
}
.course{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.n2{
    background-color: rgb(235, 227, 227);
    color: rgb(39, 40, 41);
    border-radius: 1rem;
    width: max-content;
    height: 40px;
    font-size: larger;
    font-weight: 800;
}
.ai{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}
#card1,#card2,#card3,#card4{
    width: 290px;
    height: 330px;
    border: 1px solid rgb(78, 77, 77);
    column-gap: 10x;
    padding: 10px;
}
h6{
    font-weight: 700;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.data{
    width: 550px;
    height: 50px;
    padding-left: 50px;
}
#d1{
    width: 290px;
    height: 50px;
    font-size: larger;
    font-weight: 600;
}
.companies{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 85px;
    align-items: center;
    background-color: rgb(250, 250, 249);
}
.goals{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#goals1_1{
    width: 80%;
    background-color: white;
    border-left: 10px solid purple;
    background-image: url(https://cms-images.udemycdn.com/96883mtakkm8/7kN9RBFSMFNHzsGWsElMPi/dde73f8d1c47e046f035274e78410590/hands-on-practice.png);
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: 10px 10px;
    padding: 20px;
    border-top: 1px solid purple;
    border-bottom: 1px solid purple;
    border-right: 1px solid purple;
}
#goals1_2{
    width:80%;
    background-color: white;
    border-left: 10px solid purple;
    background-image: url(https://cms-images.udemycdn.com/96883mtakkm8/2Xh9YHJustDwCEjn5IlO25/93e9b15c6e74876db0dec63466fcc5a0/certificate.png);
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: 10px 10px;
    padding: 20px;
    border-top: 1px solid purple;
    border-bottom: 1px solid purple;
    border-right: 1px solid purple;
}
#goals1_3{
    width:80%;
    background-color: white;
    border-left: 10px solid purple;
    background-image: url(https://cms-images.udemycdn.com/96883mtakkm8/6w8plrr7vY9rIY46UuX0q5/2f0a3f0c22e99bd2d430b998c81321f2/empty-state-1.png);
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: 10px 10px;
    padding: 20px;
    border-top: 1px solid purple;
    border-bottom: 1px solid purple;
    border-right: 1px solid purple;
}
#goals1_4{
    width:80%;
    background-color: white;
    border-left: 10px solid purple;
    background-image: url(https://cms-images.udemycdn.com/96883mtakkm8/2tKGBrb1N60wox2Lh8j3tz/7f1528c9f88ea47bd6ebb46f345902c3/organizations-2.png);
    background-size: 80px;
    background-repeat: no-repeat;
    background-position: 10px 10px;
    padding: 20px;
    border-top: 1px solid purple;
    border-bottom: 1px solid purple;
    border-right: 1px solid purple;
}
.plans{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#plan1{
    border-top:10px solid purple;
    border-left: 1px solid #bbb;
    border-right:1px solid #bbb; 
    border-bottom: 1px solid #bbb;
    padding:15px;
    border-radius: 5px;
}
#plan2{
    border-top:10px solid purple;
    border-left: 1px solid #bbb;
    border-right:1px solid #bbb; 
    border-bottom: 1px solid #bbb;
    padding:15px;
    border-radius: 5px;
}
#plan3{
    border-top:10px solid purple;
    border-left: 1px solid #bbb;
    border-right:1px solid #bbb; 
    border-bottom: 1px solid #bbb;
    padding:15px;
    border-radius: 5px;
}
.comment{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#comment1{
    background-color: white;
    height: 300px;
    width: 330px;
    border: 1px solid rgb(122, 115, 100);
    padding: 10px;
}
.top{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px;
}
#top1{
    width: 300px;
    padding-top: 15%
}
.trending{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}
.talent{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}
#talent1{
    width:50%;
    padding: 10px;
}
#one{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.com{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
}
footer{
    background-color: rgb(43, 42, 42);
}
.foter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}
.footer2_1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}
.footer a,.foter a, .footer2_1 a{
    color: white;
}
@media (max-width:930px){
    .hidden,.login1,.cart{
        display: none;
    }
    .login1{
        display: block;
    }
}